p
{
	background-color: white;
	color: black; 
	font-family: "Georgia", Serif;
	font-size: 20pt;
}

p.emphasis
{
	color: red; 
	font-size: 30pt;
}

body
{
	background-color: black;
	background-image: URL("background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

a
{
	color: blue; 
}

a:hover
{
	color: red;
}
